@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

header {
    background-color: rgb(146, 180, 236);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: larger;
}

button {
    height: 100px;
    background-color: rgb(255, 210, 76);
    color: white;
    display: flex;
    font-size: xx-large;
    border-color: transparent;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(255, 210, 76);
    transform: scale(1.1) perspective(1px)
}

button:active {
    transform: scale(.9);
    box-shadow: 0 3px 15px -2px;
}

body {
    font-family: 'Luckiest Guy', cursive;
    background-color: rgb(146, 180, 236);
    color: rgb(255 255 255);
    font-weight: 1000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cell {
    background: rgb(255, 255, 255);
}

.cell:hover {
    background-color: black;
    transition: 0.2;
}

.containerCell {
    width: 800px;
    height: 800px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}

.containerButtons {
    width: 200px;
    height: 800px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerGeneral {
    display: flex;
    justify-content: center;
}

.backSketch {
    border: 50px solid rgb(255, 230, 154);
    background-color: rgb(255, 230, 154);
    display: flex;
    border-radius: 50px;
}

.link {
    color:white;
    text-decoration: none;
    font-size: xx-large;
    margin-left: 10px;
}
