@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

header {
    background-color: rgb(146, 180, 236);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: larger;

}

button {
    height: 50px;
    background-color: rgb(255, 210, 76);
    color: white;
    display: flex;
    border-color: transparent;
    border-radius: 90px;
    align-items: center;
}

body {
    font-family: 'Sigmar', cursive;
    background-color: rgb(146, 180, 236);
    color: rgb(255 255 255);
    font-weight: 1000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.cell {
    width: 38px;
    height: 38px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(146, 180, 236);
}

.containerCell {
    width: 640px;
    height: 640px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(146, 180, 236);
    display: flex;
    flex-wrap: wrap;
}

.containerButtons {
    width: 160px;
    height: 640px;
    border: 1px solid rgb(146, 180, 236);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerGeneral {
    display: flex;
}

